<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdK_wjPpTNI5BZ_yzkx074Nmr4TnsDl_M</string>
	<key>GCM_SENDER_ID</key>
	<string>897846234844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terziapp.terzi</string>
	<key>PROJECT_ID</key>
	<string>terzi-app</string>
	<key>STORAGE_BUCKET</key>
	<string>terzi-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897846234844:ios:cf166cd467af3bbb672e19</string>
</dict>
</plist>